body {
    font-family: 'Nunito', sans-serif;
    background-image: linear-gradient(45deg, #21D4FD 0%, #B721FF 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.form {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
}

.colunas-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coluna {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.coluna div {
    margin-bottom: 10px; 
}

input {
    border-radius: 40px;
    border: none;
    outline: none;
    margin-top: 8px;
    padding: 12px 2px;
    width: 90%;
    background-color: #b0b9b6;
}

button {
    padding: 10px 58px;
    border-radius: 50px;
    color: white;
    margin-top: 2rem;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #1A1B27;
    font-weight: 600;
    margin: 0 auto;
    display: block;
    width: 20%;
}

button:hover {
    opacity: 0.8;
}

.menu-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1002;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #0b0e67;
    color: #fff;
    padding-top: 60px;
    transition: left 0.3s ease;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-size: 20px;
}

.sidebar-header h2 {
    margin: 0;
}

.sidebar-header span {
    cursor: pointer;
    font-size: 24px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px 20px;
    border-bottom: 1px solid #444;
}

.sidebar ul li a {
    color: #f0f0f0;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: background 0.3s, color 0.3s;
}

.sidebar ul li a i {
    margin-right: 10px;
    font-size: 18px;
}

.sidebar ul li a:hover{
    color: #21D4FD;
    font-size: 120%;
    transition: 0.5s;
}

.sidebar.open {
    left: 0;

}