{% load static %} <!-- Funcionalidade do django resposavel por rodar arquivos estaticos, ex: Js, css e IMG -->
{% load permission_tags %} <!-- Funcionalidade do django resposavel por puxar os cargos criados, ex: 'Gerente' e 'Tecnico' -->

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'sistema/estoque/css/estoque.css' %}">
    <title>Deletar Produto</title>
</head>
<body>
    <div>
        <a href="{% url "estoque" %}" >Estoque</a> <!-- Responsavel pela navegação entre as páginas dentro do sistema -->
        <a href="{% url "relatorio_vist" %}">Visita Tecnica</a> <!-- Responsavel pela navegação entre as páginas dentro do sistema -->
        <a href="{% url "criar_usuario" %}" >Criar Usuario</a> <!-- Responsavel pela navegação entre as páginas dentro do sistema -->
        <a href="{% url "lista" %}">Lista de usuarios</a> <!-- Responsavel pela navegação entre as páginas dentro do sistema -->
        <a href="{% url 'enviar_solicitação' %}">Solicitação</a> <!-- Responsavel pela navegação entre as páginas dentro do sistema -->
        <a href="{% url "historico" %}">Historico de Visitas</a> <!-- Responsavel pela navegação entre as páginas dentro do sistema -->
        <a href="{% url "logout" %}">Logout</a> <!-- Responsavel pela navegação entre as páginas dentro do sistema -->     
    </div>
    <div>
        <h1>Deletar Produto: {{ produto.nome_prod }}</h1>  <!-- Aqui é responsavel por aparecer o nome do produto -->
    </div>
    <div>
        <p>Tem certeza de que deseja apagar esse produto?</p>
    </div>
    <div>
        <form method = "POST">
            {% csrf_token %}
            <button type="submit">Sim, apagar</button>
        </form>        
    </div>
    <div>
        <a href="{% url 'estoque' %}"><button id="del">Desistir</button></a>
    </div>



    <script src="{% static 'sistema/estoque/js/estoque.js' %}"></script>
</body>
</html>