{% load static %} <!-- Funcionalidade do django resposavel por rodar arquivos estaticos, ex: Js, css e IMG -->
{% load permission_tags %} <!-- Funcionalidade do django resposavel por puxar os cargos criados, ex: 'Gerente' e 'Tecnico' -->

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'sistema/criar_usuario/css/criar_usuario.css' %}">
    <title>Meu Estoque</title>
</head>
<body>
    <div>
        <a href="{% url "estoque" %}" >Estoque</a> <!-- Responsavel pela navegação entre as páginas dentro do sistema -->
        <a href="{% url "relatorio_vist" %}">Visita Tecnica</a> <!-- Responsavel pela navegação entre as páginas dentro do sistema -->
        <a href="{% url "historico" %}">Historico de Visitas</a> <!-- Responsavel pela navegação entre as páginas dentro do sistema -->
        <a href="{% url "criar_usuario" %}" >Criar Usuario</a> <!-- Responsavel pela navegação entre as páginas dentro do sistema -->
        <a href="{% url "lista" %}">Lista de usuarios</a> <!-- Responsavel pela navegação entre as páginas dentro do sistema -->
        <a href="{% url 'enviar_solicitação' %}">Solicitação</a> <!-- Responsavel pela navegação entre as páginas dentro do sistema -->
        <a href="{% url "logout" %}">Logout</a> <!-- Responsavel pela navegação entre as páginas dentro do sistema -->     
    </div>
    <div>
        <table border="1">
            <caption>Lista de usuarios</caption>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Primeiro Nome</th>
                    <th>Ultimo nome</th>
                    <th>Usuario</th>
                    <th>Email</th>
                    <th>Ultimo login</th>
                    <th>Funções</th>
                </tr>
            </thead>
            <tbody>
                {% for user in ver_user %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.last_login}}</td>
                    <td>
                        <a href="{% url 'mudar_informações' user.id %}"><button id="up">Alterar informações</button></a>
                        <a href="{% url 'editar' user.id %}"><button id="up">Alterar senha</button></a>
                        <a href="{% url 'deletar' user.id %}"><button id="up">Deletar usuario</button></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    
        <script>
            {% if add  %}
            alert('O produto foi atualizado!');
            {% elif duplicado  %}
            alert('O usuario foi alterado com sucesso!');
            {% elif add_senha  %}
            alert('A senha foi alterada com sucesso!');
            {% endif %}
        </script>
        <script src="{% static 'sistema/criar_usuario/js/criar_usuario.js' %}"></script>      
    </div>
</body>