@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    font-family: "Poppins", sans-serif;
    background-color: #86969d;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
h3{
    font-size: 150%;
    font-weight: 600;
}
.form {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    justify-content: center;
    align-items: center;
}

.colunas-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coluna {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.coluna div {
    margin-bottom: 10px; 
}

input {
    border-radius: 40px;
    border: none;
    outline: none;
    margin-top: 8px;
    padding: 12px 2px 15px 15px;
    width: 90%;
    background-color: #b0b9b6;
    
}

button {
    padding: 10px 58px;
    border-radius: 50px;
    color: white;
    margin-top: 2rem;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #1A1B27;
    font-weight: 600;
    margin: 0 auto;
    display: block;
}

h2, h1{ 
    margin: 1.5rem 0 2rem 0; 
    text-align: center;
    font-size: clamp(1.5rem, 4vw, 2rem); 
} 

button:hover {
    opacity: 0.8;
}

.menu-toggle {
    position: fixed;
    top: 20px;
    left: 20px;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1002;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #0b0e67;
    color: #fff;
    padding-top: 60px;
    transition: left 0.3s ease;
    box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-size: 20px;
}

.sidebar-header h2 {
    margin: 0;
}

.sidebar-header span {
    cursor: pointer;
    font-size: 24px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px 20px;
    border-bottom: 1px solid #444;
}

.sidebar ul li a {
    color: #f0f0f0;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: background 0.3s, color 0.3s;
}

.sidebar ul li a i {
    margin-right: 10px;
    font-size: 18px;
}

.sidebar ul li a:hover{
    color: #21D4FD;
    font-size: 120%;
    transition: 0.5s;
}

.sidebar.open {
    left: 0;

}