@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #86969d;
    min-height: 100vh;
} 

.container{
    width: 420px; 
    display: flex;
    background-color: white; 
    border-radius: 12px; 
    padding: 30px 40px;     
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
} 


h2, h1{ 
    margin: 1.5rem 0 2rem 0; 
    text-align: center;
    font-size: clamp(1.5rem, 4vw, 2rem); 
} 

label{ 
    padding-left: 16px; 
    opacity: 0.75;
    width: 100%;
    max-width: 300px;
} 

.input-login{ 
    position: relative;
    width: 100%;
    height: 100%;
    margin: 20px 0;
}

.input-login input {
    width: 100%;
    height: 100%;
    background-color: #b0b9b6;
    border-radius: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    color: black;
    padding: 20px 120px 20px 20px;
}



button{ 
    width: 100%;
    height: 100%;
    padding: 12px 48px; 
    border-radius: 50px; 
    color: white; 
    margin-top: 2rem; 
    cursor: pointer; 
    outline: none; 
    border-width: 0; 
    background-color: #1A1B27; 
    font-weight: 600; 
} 

button:hover{ 
    opacity: 0.8; 
} 

.botao-form{ 
    display: flex; 
    justify-content: center; 
    margin-top: 3rem;
    width: 100%;
}

.input-login i {
    position: absolute;
    right: 20px;
    top: 33%;
}
